* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

header {
    height: fit-content;;
  background: #ff6262;
  color: white;
    padding: 10px;
}

.navbar {
  max-width: 1450px;
  display:flex;
  justify-content:space-between;
  align-items: center;
    margin: auto;
    padding: 0 10px;
  
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: larger;
  font-weight:bolder;
}

.hero {
  background: url('Headerimg.webp') no-repeat center center/cover;
  color: rgb(12, 37, 6);
  height: 100vh;
  
}

.hero-text h2 {
    display: flex;
  justify-content: center;
    align-items:top;
  text-align: center;
  font-size: 2.5rem;
}

.hero-text p{
    display: flex;
  justify-content: center;
  align-items:top;
  text-align: center;
  font-size: 2rem;
}

.hero-text p1{
    background-color:rgba(255, 255, 255, 0.5) ;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    bottom: 5px;
    position: absolute;
    text-align: center;
}


footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 15px 0;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

}
